{% extends "base.html" %}

{% block main_content %}
    <div>
        <main>
            <article>
                <div class="title">
                    {#<h1 class="title">{{ page.title }}</h1>#}
                    {% if page.title %}
                        <div class="page-header">
                            {{ page.title }}
                        </div>
                    {% endif %}

                    <div class="meta">
                        {% if page.date %}
                            Posted on <time>{{ page.date | date(format="%Y-%m-%d") }}</time>
                        {% endif %}

                        {% if page.updated %}
                            :: Updated on <time>{{ page.updated | date(format="%Y-%m-%d") }}</time>
                        {% endif %}

                        {# View the page on GitHub #}
                        {% if page.extra.repo_url %}
                            :: <a href="{{ page.extra.repo_url }}" target="_blank" rel="noopener noreferrer">Source Code</a>
                        {% endif %}
                    </div>
                </div>

                <section class="body">
                    {{ page.content | safe }}
                </section>
            </article>
        </main>
    </div>
{% endblock main_content %}
